<section class="contain">
  <h1>Tes futures potes</h1>


  <ul class="friends-list">
    <% @friends.each do |friend| %>
    <a href="<%= friend_path(friend) %>">
      <li>
        <img src="https://i.pravatar.cc/">
        <h2><%= friend.first_name %> <%= friend.last_name %>
      </li>
    </a>
  <% end %>
    </ul>
</section>
