<h2><%= @booking.date %></h2>
<p><%= @booking.duration %></p>
<p><%= @booking.address %></p>

<%= link_to "Annuler le rendez-vous",
            booking_path(@booking),
            method: :delete,
            data: { confirm: "Voulez-vous vraiment annuler ce rendez-vous ?" } %>