<section id="home-banner">
  <div>
    <h1>Marre d'être un tocard ?</h1>
    <p>Loue des amis et deviens populaire. Parce que ce monde est cruel.</p>
  </div>
  <a class="cbtn" href=" %>">Inscris toi !</a>
</section>
<section class="contain"></section>
