.friends-list {
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  padding: 2em 0;
  li {
    width: 100%;
    padding: 2em;
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
    img {
      width: 100%;
      margin-bottom: 1em;
    }
  }
  a {
    text-decoration: none;
    color: $text-common;
  }
}
