.friends-list {
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  padding: 0;
  li {
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    transition: 0.3s all ease;
    &:hover {
      transform: scale(1.04);
      & .infos-friend {
        bottom: 0;
      }
      & .hidden-infos {
        margin: 0;
      }
    }
    img {
      width: 100%;
      height: calc(33vw - 6em);
      border-radius: 4px;
      object-fit: cover;
    }
    .infos-friend {
      z-index: 20;
      position: absolute;
      bottom: -3em;
      left: 0;
      width: 100%;
      text-align: left;
      padding: 0 2em;
      transition: 0.3s all ease;
      .hidden-infos {
        display: flex;
        font-size: 1.3em;
        margin-top: 1em;
        justify-content: space-between;
        color: $background;
        transition: 0.5s all ease;
      }
    }
    h2 {
      font-size: 2em;
      color: $background;
      z-index: 20;
      margin: 0;
    }
    .overlay {
      z-index: 10;
      width: 100%;
      height: 50%;
      position: absolute;
      bottom: 0;
      pointer-events: none;
      background: rgb(0, 0, 0);
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6979166666666667) 0%,
        rgba(255, 255, 255, 0) 90%
      );
    }
  }
  a {
    text-decoration: none;
    color: $text-common;
  }
}
