.friends-list {
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  li {
    width: 100%;

    img {
      width: 100%;
    }
  }
  a {
    text-decoration: none;
    color: $text-common;
  }
}
