// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// shared

.contain {
  padding: 2em;
}

.page-title {
  text-align: center;
  margin: 2em 0;
}

.title-container {
  width: 100%;
  background-color: $prim;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    color: $background;
  }
  p {
    color: $background;
    margin-top: 1em;
  }
}

